stages:
  - init
  - build
  - test

variables:
  GIT_SUBMODULE_STRATEGY: recursive
  GIT_SUBMODULE_FORCE_HTTPS: "true"
  GIT_SUBMODULE_DEPTH: 1
  GIT_SUBMODULE_UPDATE_FLAGS: --jobs 4

init-docker:
  stage: init
  tags:
    - multiarch
  variables:
    PUSH_IMAGE: 1
  script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
    - chmod +x ./scripts/docker/run-docker.sh
    - ./scripts/docker/run-docker.sh --build --multiarch

build-soceteer:
  stage: build
  tags:
    - multiarch
  parallel:
    matrix:
      - SOCT_CHISEL_VERSION: "3.6.1"
      - SOCT_CHISEL_VERSION: "7.3.0"
  rules:
    - changes:
        - src/**/*
        - generators/**/*
        - build.sbt
        - scripts/docker/**
        - scripts/cicd/**
        - project/**
        - .gitlab-ci.yml
        - Dockerfile
  cache:
    key: "chisel-jars-$SOCT_CHISEL_VERSION"
    paths:
      - target/assembly/chisel-$SOCT_CHISEL_VERSION/
    policy: pull-push
  artifacts:
    paths:
      - target/assembly/chisel-$SOCT_CHISEL_VERSION/
    expire_in: 1 week
  script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
    - ./scripts/docker/run-docker.sh --compile-soceteer


sim-rocket:
  stage: test
  tags:
    - multiarch
  parallel:
    matrix:
      - SOCT_CHISEL_VERSION: "3.6.1"
      - SOCT_CHISEL_VERSION: "7.3.0"
  needs:
    - job: build-soceteer      # pulls artifacts from all matrix builds
      artifacts: true
      optional: true
  cache:
    - key: "chisel-jars-$SOCT_CHISEL_VERSION"
      paths:
        - target/assembly/chisel-$SOCT_CHISEL_VERSION/
      policy: pull
  artifacts:
    paths:
      - sim/build/
  script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login "$CI_REGISTRY" -u "$CI_REGISTRY_USER" --password-stdin
    - |
      # Decide test arguments per pipeline source
      if [ "$CI_PIPELINE_SOURCE" = "schedule" ]; then
        export TEST_SIM_ARGS="--group rocket --chisel-version $SOCT_CHISEL_VERSION"
      else
        # Limit quick (non-schedule) runs
        export TEST_SIM_ARGS="--group rocket --chisel-version $SOCT_CHISEL_VERSION --first-n-only 2"
      fi
      ./scripts/docker/run-docker.sh --test-sim