[submodule "generators/sifive-cache"]
	path = generators/sifive-cache
	url = https://github.com/chipsalliance/rocket-chip-inclusive-cache.git
	ignore = dirty
[submodule "generators/riscv-boom"]
	path = generators/riscv-boom
	url = https://github.com/riscv-boom/riscv-boom.git
	branch = master
[submodule "generators/saturn-vectors"]
	path = generators/saturn-vectors
	url = https://github.com/ucb-bar/saturn-vectors.git
	branch = master
[submodule "generators/shuttle"]
	path = generators/shuttle
	url = https://github.com/ucb-bar/shuttle.git
	branch = master
[submodule "buildtools/verilator"]
	path = buildtools/verilator
	url = https://github.com/verilator/verilator.git
	branch = stable
[submodule "generators/gemmini"]
	path = generators/gemmini
	url = https://github.com/soct-org/gemmini.git
	branch = master
[submodule "generators/rocket-chip"]
	path = generators/rocket-chip
	url = https://github.com/soct-org/rocket-chip.git
	branch = master
[submodule "generators/rocket-chip-chisel3"]
	path = generators/rocket-chip-chisel3
	url = https://github.com/soct-org/rocket-chip.git
	branch = chisel3
